<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Aspirant test issue{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="csrf_token" content="{{ csrf_token }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/css/style.css?v=1" rel="stylesheet"/>
    {% endblock %}
</head>
<body class="d-flex flex-column">

{% include "partials/navigation.html.twig" %}

<div id="page-content" class="container">
    {% include "partials/main-flash.html.twig" %}
    
    {% block content %}{% endblock %}
</div>

<footer id="sticky-footer" class="py-2 bg-dark text-white-50">
    <div class="container text-center">
        <small>{{ 'now' | date('Y') }} Aspirant test issue</small>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
