{% extends 'main.html.twig' %}

{% block title %}{{ movie.title }} - iTunes Movie trailer{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ movie.title }}</h1>
        <div class="row mb-3">
            <div class="col-12">
                {% if movie.likes | length %}
                <span class="pr-2">
                    <span class="icon-heart text-danger"></span>
                    {{ movie.likes | length }}
                </span>
                {% endif %}

                {% if user and not movie.myOwnLike(user) %}
                <form action="{{ url_for('movie.addlike') }}" method="post" class="d-inline">
                    <input type="hidden" name="movieId" value="{{ movie.id }}">
                    <button class="btn btn-link px-0" type="submit" title="Push if you lke this movie">
                        Like It
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="{{ movie.image }}" alt="{{ movie.title }}" title="{{ movie.title }}" />
            </div>
            <div class="col-10">
                <p>{{ movie.description }}</p>
                <p>
                    <a href="{{ movie.link }}" target="_blank">Source link</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="mt-3">
                    <a href="{{ url_for('main') }}">Go back</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
