@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?maxgjx');
  src:  url('/fonts/icomoon.eot?maxgjx#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?maxgjx') format('truetype'),
    url('/fonts/icomoon.woff?maxgjx') format('woff'),
    url('/fonts/icomoon.svg?maxgjx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
