{% extends 'main.html.twig' %}

{% block title %}{{ movies | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ movies | length }} iTunes Movie trailers</h1>
    <div class="row">
        <div class="card-group">
            {% for movie in movies %}
                <div class="col-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ movie.image }}" alt="{{ movie.title }}" title="{{ movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('movie.detail', { id: movie.id }) }}">
                                    {{ movie.title }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#junior-tasks">
                    Junior tasks
                </button>
            </h2>
        </div>
        <div id="junior-tasks" class="collapse">
            <div class="card-body">
                <dl>
                    <dt>Current date:</dt>
                    <dd>{{ 'now' | date('d.m.Y H:i:s', 'Asia/Yekaterinburg') }}</dd>
                    <dt>Current class:</dt>
                    <dd>{{ currentClass }}</dd>
                    <dt>Current method:</dt>
                    <dd>{{ currentMethod }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
