{% if flash('main-error') %}
<div class="alert alert-danger">
    {% for msg in flash('main-error') %}
    <p>{{ msg }}</p>
    {% endfor %}
</div>
{% endif %}
{% if flash('main-info') %}
<div class="alert alert-info">
    {% for msg in flash('main-info') %}
    <p>{{ msg }}</p>
    {% endfor %}
</div>
{% endif %}
{% if flash('main-success') %}
<div class="alert alert-success">
    {% for msg in flash('main-success') %}
    <p>{{ msg }}</p>
    {% endfor %}
</div>
{% endif %}