<nav class="navbar navbar-expand-lg navbar-light mb-4">
  <a class="navbar-brand" href="{{ url_for('main') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto">
    </ul>
    {% if user %}
    <span class="nav-text">{{ user.name }}</span>
    {% endif %}
    <ul class="navbar-nav my-2 my-lg-0">

      {% if user %}
        <li class="nav-item">
          <form method="post" action="{{ url_for('auth.signout') }}">
            <button type="submit" class="btn btn-link nav-link">Sign out</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signin') }}">Sign in</a>
        </li>
      {% endif %}
      
    </ul>
  </div>
</nav>